{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/step3/topic_anno.js" %}"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <h4 class="rel_claim_title pallete pallete-peter-river">
            Evidence Annotation Interface
        </h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/step3/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Task</li>
          </ol>
        </nav>

        <div class="rel_option_container">
            In this task, we would like to annotate all <font color="red">the claims</font> that are supported by the provided <font color="blue">evidence</font>.
            In other words, do you think <font color="blue">the evidence</font> contain <b>sufficient proof</b> for<font color="red">each claim</font> or not.
            <br>

            Please solve the following examples, according the above instructions:

            {% for evi in evidences %}
            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Indicate whether each <font color="red">claim</font> is supported by the given <font color="blue">evidence</font>:</p>

                    <hr>
                    <p>Evidence Keywords: {% for kw in keywords|dict_get_item:evi.id %}
                        <span class="badge badge badge-info">{{ kw }}</span>
                        {% endfor %}
                        </p>
                    <div class="row">
                        <div class="col-7">
                            <strong><h6 style="color: blue">Evidence: </h6></strong>
                                <p> {{ evi.content }}
                                </p>

                        </div>
                    <div class="col-sm">
                        <div class="rel-q1" id="q1">
                            {% for persp in candidates|dict_get_item:evi.id %}
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font>{{ persp.title }}</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check_{{ evi.id }}_{{ persp.id }}" type="radio" id="sup_{{ evi.id }}_{{ persp.id }}" value="sup" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check_{{ evi.id }}_{{ persp.id }}" type="radio" id="nsup_{{ evi.id }}_{{ persp.id }}" value="nsup" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-4">
                    <button id="rel_option_clear" class="btn btn-block btn-lg btn-danger">Clear Selection</button>
                </div>
                <div class="col-8">
                    <button id="rel_option_submit" class="btn btn-block btn-lg btn-primary">Submit</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>