{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/step3/instr.js" %}"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <div class="login-page-title">
            <h5>
                Evidence Annotation Interface: Instructions
            </h5>
            <p>
                Welcome, Worker ID: {{ request.user.username }}! <button type="button" class="btn btn-danger btn-sm" onclick="window.location='/logout/'">Logout</button>
            </p>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/step3/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Instructions</li>
          </ol>
        </nav>

        <div class="rel_option_container">
            In this task, we would like to annotate all <font color="red">the claims</font> that are supported by the provided <font color="blue">evidence</font>.
            In other words, do you think <font color="blue">the evidence</font> contain <b>sufficient proof</b> for<font color="red">each claim</font> or not.
            <br>

            Please solve the following examples, according the above instructions:
            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Indicate whether each <font color="red">claim</font> is supported by the given <font color="blue">evidence</font>:</p>
                    <p>Evidence Keywords
                        <span class="badge badge badge-info">child performer</span>
                        <span class="badge badge badge-info">ban</span>
                        <span class="badge badge badge-info">child protection</span>
                        <span class="badge badge badge-info">performer</span>
                    </p>
                  <hr>
                    <div class="row">
                        <div class="col-7">
                            <strong><h6 style="color: blue">Evidence: </h6></strong>
                                <p>
                                    Spending so much time either performing or training limits the amount of formal education the child can receive. For example, in the UK and other countries, child performers are only required to be educated for three hours each day. Additionally, the focus on the specialised skill of the child (e.g., acting, dancing, etc.) may detract from their family’s or their own interest in formal education.
                                </p>

                        </div>
                    <div class="col-sm">
                        <div class="rel-q1" id="q1">
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> Being a performer limits a child’s formal education</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check11" type="radio" id="check11_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check11" type="radio" id="check11_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> Child performers are necessary for roles in some films, television shows, etc., and for the survival of some sports</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check12" type="radio" id="check12_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check12" type="radio" id="check12_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> Being a performer can make the child physically vulnerable </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check13" type="radio" id="check13_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check13" type="radio" id="check13_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q1-succc" role="alert" style="display: none">
                    Correct!
                </div>
                <div class="alert alert-danger"  id="q1-fail" role="alert" style="display: none">
                  Not correct! Give it another try ...
                </div>
            </div>

            Here is another example:

            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Indicate whether each <font color="red">claim</font> is supported by the given <font color="blue">evidence</font>:</p>
                    <p>Evidence Keywords
                        <span class="badge badge badge-info">Africa</span>
                        <span class="badge badge badge-info">developing world</span>
                        <span class="badge badge badge-info">immigration</span>
                        <span class="badge badge badge-info">economy</span>
                    </p>
                  <hr>
                    <div class="row">
                        <div class="col-7">
                            <strong><h6 style="color: blue">Evidence: </h6></strong>
                            <p>
                                Financial contributions from the West have proved little help to Africa. Between 1970 and 1998 when aid was at its peak, poverty rose alarmingly from 11% to 66%. This statistic alone suggests aid is damaging to African welfare. Africa began borrowing money in the 1970s when interest rates were low, but a rising rates in 1979 caused 11 African countries to default. Even after restructuring, they fell deeper into debt. While the Marshall Plan had been a success, the same approach would not favour Africa; as Moyo contends, it lacks the required institutions to utilise capital efficiently. Debt servicing meant money was passing from the poor to the rich, leaving Africa in a precarious global position. Furthermore, countries which have rejected aid as an approach to combat poverty have prospered, indicating an additional correlation between aid and a ruined economy.
                            </p>
                        </div>
                    <div class="col-sm">
                        <div class="rel-q1" id="q2">
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> It is necessary to offer increased aid to developing world countries that encourage and accept large influxes of immigrants. Migrants will simply return to the countries they have been sent from </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check21" type="radio" id="check21_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check21" type="radio" id="check21_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> Financial contributions from the West have proved detrimental for Africa.</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check22" type="radio" id="check22_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check22" type="radio" id="check22_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Claim:</strong> </font> £1 trillion of aid in the past 50 years has only caused the African economy to deteriorate.</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check23" type="radio" id="check23_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Supported</b>
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <label class="radio rel_option_radio">
                                            <input name="check23" type="radio" id="check23_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Not supported</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q2-succc" role="alert" style="display: none">
                    Correct!
                </div>
                <div class="alert alert-danger"  id="q2-fail" role="alert" style="display: none">
                  Not correct! Give it another try ...
                </div>
            </div>

            <div style="align-self: center; align-content: center; text-align: center">
                You have to answer the above samples correctly in order for the bottom to be activated. <br>
                <button id="instr_submit" type="button" class="btn btn-success" disabled>Finish the instructions</button>
            </div>

            <br><br>

        </div>
    </div>

</body>
<script>
    showFirst = false;
    showSecond = false;

    answers = {
        "check11": false,
        "check12": false,
        "check13": false,
        "check21": false,
        "check22": false,
        "check23": false,
    };

    radio_checked = {
        "check11": false,
        "check12": false,
        "check13": false,
        "check21": false,
        "check22": false,
        "check23": false,
    };

    firstCorrect = false;
    secondCorrect = false;

    $('input[type="radio"]').on('click change', function(e) {
        console.log("-----");
        answers[$(this).attr('name')] = ($(this).val() === 'same');
        radio_checked[$(this).attr('name')] = true;
    });

    // if all the options are answered correctly, turn the botton active
    $('#q1').on('click change', function(e) {

        showFirst = radio_checked['check11'] & radio_checked['check12'] & radio_checked['check13'];

        if (showFirst) {
            if (!answers['check13'] && !answers['check12'] && answers['check11'] ) {
                $("#q1-fail").css("display", "none");
                $("#q1-succc").css("display", "block");
                firstCorrect = true
            }
            else {
                $("#q1-succc").css("display", "none");
                $("#q1-fail").css("display", "block");
                firstCorrect = false
            }

            if (firstCorrect && secondCorrect) {
                $("#instr_submit").prop('disabled', false);
            }
            else {
                 $("#instr_submit").prop('disabled', true);
            }
        }
    });

    $('#q2').on('click change', function(e) {

        showSecond = radio_checked['check21'] & radio_checked['check22'] & radio_checked['check23'];

        if (showSecond) {
            if (answers['check23'] && answers['check22'] && !answers['check21'] ) {
                $("#q2-fail").css("display", "none");
                $("#q2-succc").css("display", "block");
                secondCorrect = true;
            }
            else {
                $("#q2-succc").css("display", "none");
                $("#q2-fail").css("display", "block");
                secondCorrect = false;
            }

            if (firstCorrect && secondCorrect) {
                $("#instr_submit").prop('disabled', false);
            }
            else {
                $("#instr_submit").prop('disabled', true);
            }
        }
    });
</script>

</html>