{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/step2b/instr.js" %}"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <div class="login-page-title">
            <h5>
                Paraphrase Annotation Interface: Instructions
            </h5>
            <p>
                Welcome, Worker ID: {{ request.user.username }}! <button type="button" class="btn btn-danger btn-sm" onclick="window.location='/logout/'">Logout</button>
            </p>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/step2b/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Instructions</li>
          </ol>
        </nav>

        <div class="rel_option_container">
            For each of the following tasks, you are given <font color="blue">a claim</font> and <font color="green">an opinions</font> with respect to it (either supporting or opposing it).
            <br>In addition, you are given a list of <font color="red">candidate opinions</font> that are similar to the given opinion.
            <br>We want you to select all <font color="red">opinions</font> that convey the exact same idea, as the given <font color="green">opinion</font>.
            <br>
            <br>Please solve the following examples, according the above instructions:
            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Among the following <font color="red"> candidate opinions</font>, select the one(s) that are valid <strong>paraphrases</strong> to <font color="green">the given opinion</font> </p>
                  <hr>
                    <div class="row">
                        <div class="col-4">
                            <strong><h6 style="color: blue">Claim: </h6>The use of child performers should be banned. </strong>
                        </div>
                    <div class="col-sm">
                        <span style="font-weight: normal; font-size: medium;">  <font color="green"><strong> Opinion: </strong></font> Being a performer can make the child physically vulnerable. </span>
                        <hr>
                        <div class="rel-q1" id="q1">
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> A child becomes physically vulnerable when they become a child performer.</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check11" type="radio" id="check11_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check11" type="radio" id="check11_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> Working as a performer can make a child vulnerable.</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check12" type="radio" id="check12_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check12" type="radio" id="check12_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> Child performers are exposed to the risk of physical injuries. </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check13" type="radio" id="check13_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check13" type="radio" id="check13_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q1-succc" role="alert" style="display: none">
                    Correct! All of them are correct paraphrases!
                </div>
                <div class="alert alert-danger"  id="q1-fail" role="alert" style="display: none">
                  Not correct! Try again?
                </div>
            </div>

            Here is another example:

            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Among the following <font color="red"> candidate opinions</font>, select the one(s) that are valid <strong>paraphrases</strong> to <font color="green">the given opinion</font> </p>
                  <hr>
                    <div class="row">
                        <div class="col-4">
                            <strong><h6 style="color: blue">Claim: </h6>Trade is better than aid.  </strong>
                        </div>
                    <div class="col-sm">
                        <span style="font-weight: normal; font-size: medium;">  <font color="green"><strong> Opinion: </strong></font> Trade does not allocate resources effectively. </span>
                        <hr>
                        <div class="rel-q1" id="q2">
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> Free trade promotes better allocation of resources. </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check21" type="radio" id="check21_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check21" type="radio" id="check21_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> Resources are best allocated with aid instead of free trade. </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check22" type="radio" id="check22_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check22" type="radio" id="check22_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col equi-cand-container">
                                <div style="font-weight: normal; font-size: medium"><font color="red"><strong>Opinion:</strong> </font> Aid uses resources more efficiently than free trade.</div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check23" type="radio" id="check23_same" value="same" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Same</b>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label class="radio rel_option_radio">
                                            <input name="check23" type="radio" id="check23_diff" value="diff" data-toggle="radio" class="custom-radio equi_option">
                                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                            <b>Different</b>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q2-succc" role="alert" style="display: none">
                    Correct! The first opinion is different because it negated the given opinion.
                </div>
                <div class="alert alert-danger"  id="q2-fail" role="alert" style="display: none">
                    Not correct! Try to spot the difference in the <b>first</b> opinion ...
                </div>
            </div>

            <div style="align-self: center; align-content: center; text-align: center">
                You have to answer the above samples correctly in order for the bottom to be activated. <br>
                <button id="instr_submit" type="button" class="btn btn-success" disabled>Finish the instructions</button>
            </div>

            <br><br>

        </div>
    </div>

</body>
<script>
    showFirst = false;
    showSecond = false;

    answers = {
        "check11": false,
        "check12": false,
        "check13": false,
        "check14": false,
        "check21": false,
        "check22": false,
        "check23": false,
        "check24": false
    };

    radio_checked = {
        "check11": false,
        "check12": false,
        "check13": false,
        "check14": false,
        "check21": false,
        "check22": false,
        "check23": false,
        "check24": false
    };

    firstCorrect = false;
    secondCorrect = false;

    $('input[type="radio"]').on('click change', function(e) {
        answers[$(this).attr('name')] = ($(this).val() === 'same');
        radio_checked[$(this).attr('name')] = true;

    });

    // if all the options are answered correctly, turn the botton active
    $('#q1').on('click change', function(e) {

        showFirst = radio_checked['check11'] & radio_checked['check12'] & radio_checked['check13'];

        if (showFirst) {
            if (answers['check13'] && answers['check12'] && answers['check11'] ) {
                $("#q1-fail").css("display", "none");
                $("#q1-succc").css("display", "block");
                firstCorrect = true
            }
            else {
                $("#q1-succc").css("display", "none");
                $("#q1-fail").css("display", "block");
                firstCorrect = false
            }

            if (firstCorrect && secondCorrect) {
                $("#instr_submit").prop('disabled', false);
            }
            else {
                 $("#instr_submit").prop('disabled', true);
            }
        }
    });

    $('#q2').on('click change', function(e) {

        showSecond = radio_checked['check21'] & radio_checked['check22'] & radio_checked['check23'];

        if (showSecond) {
            if (answers['check23'] && answers['check22'] && !answers['check21'] ) {
                $("#q2-fail").css("display", "none");
                $("#q2-succc").css("display", "block");
                secondCorrect = true;
            }
            else {
                $("#q2-succc").css("display", "none");
                $("#q2-fail").css("display", "block");
                secondCorrect = false;
            }

            if (firstCorrect && secondCorrect) {
                $("#instr_submit").prop('disabled', false);
            }
            else {
                $("#instr_submit").prop('disabled', true);
            }
        }
    });
</script>

</html>