{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/claim_relation.js" %}?ver2"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">

    <div class="login-page-title">
            <h5>
                Claim Annotations Interface
            </h5>
            <p>
                Welcome, Worker ID: [TODO]! <button type="button" class="btn btn-danger btn-sm" onclick="window.location='/logout/'">Logout</button>
            </p>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Task {{ id }}</li>
          </ol>
        </nav>

        <div class="rel_instr_container">
            <strong>Instructions:</strong>
            <p class="rel_instr_text">
                In this task we annotate whether a given evidence <font face="verdana" color="green"><b>supports</b></font>,
                <font face="verdana" color="red"><b>undermines</b></font> or it is <font face="verdana" color="blue"><b>irrelevant</b></font> to a given claim.
                For the given claim, annotate the paragraphs with appropriate labels.
                <br>
            </p>
        </div>


            {% for persp in perspective_pool %}
            <div class="col persps-container rel_tile" id='content'>
                <strong><h6>Claim: </h6>{{ claim.title }} </strong>
                <hr>
                <strong><h6> Perspective: </h6>{{ persp.title }}</strong>
                <hr>
                <div class="rel-q1">
                    <p><strong>Q1:</strong> Do you think the perspective supports or undermines the claim?</p>
                    <div class="row rel_radio_container">
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input name="q1_{{ persp.id }}" type="radio" id="q1_sup_{{ persp.id }}" value="q1_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="green"><b>Supports</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input name="q1_{{ persp.id }}" type="radio" id="q1_und_{{ persp.id }}" value="q1_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="red"><b>Undermines</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input name="q1_{{ persp.id }}" type="radio" id="q1_irr_{{ persp.id }}" value="q1_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="blue"><b>Neither</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input name="q1_{{ persp.id }}" type="radio" id="q1_us_{{ persp.id }}" value="q1_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="#8a2be2"><b>Not sure</b></font>
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="rel-q2">
                    <p><strong>Q2:</strong> Now given the following supporting paragraph to the perspective, how will you answer question 1 now</p>
                    <div class="row rel_radio_container">
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q2_sup_{{ persp.id }}" value="q2_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="green"><b>Supports</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q2_und_{{ persp.id }}" value="q2_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="red"><b>Undermines</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q2_ns_{{ persp.id }}" value="q2_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="#8a2be2"><b>Not sure</b></font>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <p>
                        {{ persp.evidence }}
                    </p>
                </div>
                <hr>
                <div class="rel-q3">
                    <p><strong>Q3:</strong> Would you say that the perspective is a good summarization of the supporting paragraph. </p>
                    <div class="row rel_radio_container">
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q3_yes_{{ persp.id }}" value="q3_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="green"><b>Yes</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q3_no_{{ persp.id }}" value="q3_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="red"><b>No</b></font>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio rel_option_radio">
                                <input type="radio" id="q3_ns_{{ persp.id }}" value="q3_{{ persp.id }}" data-toggle="radio" class="custom-radio rel_option">
                                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                <font face="verdana" color="#8a2be2"><b>Not sure</b></font>
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="rel-q4">
                    <p><strong>Q4:</strong> How would you rephrase the perspective? </p>
                    <div class="row">
                        <div class="col-9 form-group">
                        <input id="neg_input" type="text" value="" placeholder="Input negation of claim here" class="form-control">
                        </div>
                        <div class="col-3">
                            <a id="q4_submit" class="btn btn-block btn-lg btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="rel-q5">
                    <p><strong>Q5:</strong> How would you rate the following rephrases of the perspective? </p>
                    <div class="row">
                        <div class="col-9 form-group">
                        <input id="neg_input" type="text" value="" placeholder="Input negation of claim here" class="form-control">
                        </div>
                        <div class="col-3">
                            <a id="q4_submit" class="btn btn-block btn-lg btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
            <div class="row">
                <div class="col-4">
                    <button id="rel_option_clear" class="btn btn-block btn-lg btn-danger">Clear Selection</button>
                </div>
                <div class="col-8">
                    <button id="rel_option_submit" class="btn btn-block btn-lg btn-primary">Submit</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>