{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static "js/claim_neg_anno.js" %}"></script>
</head>
<body>
    <div class="container">
        <h4 class="neg_claim_title pallete pallete-peter-river">
            <strong>Claim:</strong> Banana is scientifically proven to be inferior than apple as a fruit.
        </h4>
        <div class="neg_instr_container">
            <strong>Instructions:</strong>
            <p class="neg_instr_text">
                T O D O
            </p>
        </div>
        <div class="row">
            <div class="col-9 form-group">
                <input id="neg_input" type="text" value="" placeholder="Input negation of claim here" class="form-control">
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <a href="" id="neg_input_submit" class="btn btn-block btn-lg btn-primary">Submit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <blockquote>
                <label class="radio neg_option_radio">
                    <input type="radio" name="optionsRadios" id="neg_option_good" value="neg_option" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    Good Negation
                </label>
                <label class="radio neg_option_radio">
                    <input type="radio" name="optionsRadios" id="neg_option_good" value="neg_option" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    Bad Negation
                </label>
                <label class="radio neg_option_radio">
                    <input type="radio" name="optionsRadios" id="neg_option_bad" value="neg_option" data-toggle="radio" checked="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    Unable to determine
                </label>
                </blockquote>
            </div>
            <div class="col-9">
                <span class="align-middle">Apple is better than BANANA!</span>
            </div>
        </div>
    </div>
</body>
</html>