{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width,  initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <div class="login-page-title">
            <h5>
                Perspective Annotation Interface
            </h5>
            <p>First, Let me know who you are...</p>
            <p>If you are a Turker, please put your AMT ID so that we know who we should pay :)</p>
        </div>
    </div>
    <div class="login-form">
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your Worker-ID here" id="user-id">
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

{#        <div class="form-group">#}
{#            <input type="password" class="form-control login-field" value="" placeholder="Password" id="password">#}
{#            <label class="login-field-icon fui-lock" for="login-pass"></label>#}
{#        </div>#}

        <a id="btn-login" class="btn btn-primary btn-lg btn-block">Next</a>
{#        <a id="btn-first-time" class="btn btn-info btn-lg btn-block" href="#">First Time User?</a>#}
{#        <a class="login-link" href="#">Lost your password?</a>#}
    </div>
</body>
</html>