{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/instr.js" %}?ver2"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <div class="login-page-title">
            <h5>
                Perspective Annotation Interface: Annotator Preferences
            </h5>
            <p>
                Welcome, Worker ID: {{ request.user.username }}! <button type="button" class="btn btn-danger btn-sm" onclick="window.location='/logout/'">Logout</button>
            </p>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Preferences</li>
          </ol>
        </nav>

        <div class="rel_option_container">
            We would like to understand your preferences a bit, in order to adjust the results of our experiments.
            Please read the questions below and tell us your preferred choices.
            <strong>The results of these experiments are completely anonymous and will never be made public. </strong>
            </p>
            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Do you think it is the responsibility of the federal government to make sure all Americans have health care coverage?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Yes</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">No</font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Do you strongly favor, favor, oppose, or strongly oppose allowing gays and lesbians to marry legally?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Strongly favor</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Favor</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Oppose</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Strongly oppose</font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Which comes closer to your view about how to handle undocumented immigrants who are now living in the U.S.?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Should not be allowed to stay here legally</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Should be allowed to stay here legally</font>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Which statement comes closer to your own views – even if neither is exactly right?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">This country has gone too far in its efforts to protect the environment</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">This country should do whatever it takes to protect the environment</font>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Do you think abortion should be . . . </p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Legal in all cases</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Legal in most cases</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Illegal in most cases</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Illegal in all cases</font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Which of the following comes closer to your view about the federal government’s efforts to prevent terrorism?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Muslims living in the U.S. should be subject to more scrutiny than people in other religious groups</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Muslims living in the U.S. should NOT be subject to additional scrutiny solely because of their religion</font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Having an increasing number of people of different races, ethnic groups and nationalities in the U.S. makes this country a . . . </p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Better place to live</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Worse place to live</font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col persps-container rel_tile" id='content'>
                <div class="rel-q1">
                    <p><strong>Question:</strong> Should the U.S. accept refugees from Syria?</p>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_sup_{{ persp.id }}" value="q1_supp" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">Yes</font>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio rel_option_radio">
                            <input name="q1" type="radio" id="q1_ssup" value="q1_ssup" data-toggle="radio" class="custom-radio rel_option">
                            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            <font face="verdana">No</font>
                        </label>
                    </div>
                </div>
            </div>

            <div style="align-self: center; align-content: center; text-align: center">
                You have to answer the above samples correctly in order for the bottom to be activated. <br>
                <button id="instr_submit" type="button" class="btn btn-success" disabled>Finish the instructions</button>
            </div>

            <br><br>

        </div>
    </div>

</body>
<script>
    q1 = false;
    q2 = false;
    q3 = false;
    // if all the options are answered correctly, turn the botton active
    $('input[type="radio"]').on('click change', function(e) {
        console.log($(this).val());
        if ($(this).val().includes("q1") ) {
            // if you select undermine, it's good; otherwise it's incorrect
            if ($(this).val().includes("under") ) {
                $("#q1-fail").css("display", "none");
                $("#q1-succc").css("display", "block");
                q1 = true
            }
            else {
                $("#q1-succc").css("display", "none");
                $("#q1-fail").css("display", "block");
            }
        }
        if ($(this).val().includes("q2") ) {
            if ($(this).val().includes("supp") ) {
                $("#q2-fail").css("display", "none");
                $("#q2-succc").css("display", "block");
                q2 = true
            }
            else {
                $("#q2-succc").css("display", "none");
                $("#q2-fail").css("display", "block");
            }
        }
        if ($(this).val().includes("q3") ) {
            if ($(this).val().includes("sure") ) {
                $("#q3-fail").css("display", "none");
                $("#q3-succc").css("display", "block");
                q3 = true
            }
            else {
                $("#q3-succc").css("display", "none");
                $("#q3-fail").css("display", "block");
            }
        }

        if (q1 && q2 && q3) {
            $("#instr_submit").prop('disabled', false);
        }

    });
</script>

</html>