{% load static %}
{% load claim_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perspective Annotation Interface</title>
    <script src="{% static "js/csrf_util.js" %}"></script>
    <script src="{% static "js/step2/instr.js" %}"></script>
    {% csrf_token %}
</head>
<body>
    <div class="container">
        <div class="login-page-title">
            <h5>
                Perspective Equivalence Annotation Interface: Instructions
            </h5>
            <p>
                Welcome, Worker ID: {{ request.user.username }}! <button type="button" class="btn btn-danger btn-sm" onclick="window.location='/logout/'">Logout</button>
            </p>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/step2/task_list/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Instructions</li>
          </ol>
        </nav>

        <div class="rel_option_container">
            For each of the following tasks, you are given <font color="blue">a claim</font> and <font color="green">an argument</font> with respect to it (either supporting or undermining it).
            In addition, you are given a list of <font color="red">candidate arguments</font> that are topically relevant to the given problem. <br>
            We want you to select all the items (from the list of given <font color="green">candidate arguments</font>) that convey the same points, as to the given <font color="green">argument</font>.

            Please solve the following examples, according the above instructions:
            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Among the following <font color="red"> candidate arguments</font>, select the one(s) that express the <strong>exact same</strong> idea expressed by <font color="green">the given argument</font> in response to <font color="blue">the given claim</font>. </p>
                  <hr>
                    <div class="row">
                        <div class="col-4">
                            <strong><h6 style="color: blue">Claim: </h6>The use of child performers should be banned. </strong>
                        </div>
                    <div class="col-sm">
                        <span style="font-weight: normal; font-size: medium;">  <font color="green"><strong> Argument: </strong></font> Being a performer can make the child physically vulnerable. </span>
                        <hr>
                        <div class="rel-q1" id="q1">
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check11" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Are Children Who Appear on Reality Television Adequately Protected by Federal and State Law?</span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check12" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Why Congress Should Protect Children in Reality Programming</span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check13" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Keep Out of Reach of Children </span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check14" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Forced child performance could physically harm children.  </span>
                                </label>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q1-succc" role="alert" style="display: none">
                    That is the correct answer! The given perspective undermines the given claim.
                </div>
                <div class="alert alert-danger"  id="q1-fail" role="alert" style="display: none">
                  Not correct! Give it another try ...
                </div>
            </div>

            Here is another example:

            <div class="col persps-container rel_tile">
                <div class="container">
                    <p>Among the following <font color="red"> candidate arguments</font>, select the one(s) that express the <strong>exact same</strong> idea expressed by <font color="green">the given argument</font> in response to <font color="blue">the given claim</font>. </p>
                  <hr>
                    <div class="row">
                        <div class="col-4">
                            <strong><h6 style="color: blue">Claim: </h6>Trade is better than aid.  </strong>
                        </div>
                    <div class="col-sm">
                        <span style="font-weight: normal; font-size: medium;">  <font color="green"><strong> Argument: </strong></font> Trade does not allocate resources effectively. </span>
                        <hr>
                        <div class="rel-q1" id="q2">
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check21" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>How Economic Systems Allocate Resources Effectively</span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check22" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Trade not Aid</span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check23" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>Trade is unlikely to result in an effective end.</span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox">
                                <input type="checkbox" id="check24" data-toggle="checkbox_11" class="custom-checkbox">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    <span style="font-weight: normal; font-size: medium"><font color="red"><strong>Argument:</strong> </font>The effectiveness of direct aid</span>
                                </label>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" id="q2-succc" role="alert" style="display: none">
                    That is the correct answer! The given perspective undermines the given claim.
                </div>
                <div class="alert alert-danger"  id="q2-fail" role="alert" style="display: none">
                  Not correct! Give it another try ...
                </div>
            </div>

            <div style="align-self: center; align-content: center; text-align: center">
                You have to answer the above samples correctly in order for the bottom to be activated. <br>
                <button id="instr_submit" type="button" class="btn btn-success" disabled>Finish the instructions</button>
            </div>

            <br><br>

        </div>
    </div>

</body>
<script>
    showFirst = false;
    showSecond = false;
    q11 = false;
    q12 = false;
    q13 = false;
    q14 = false;

    q21 = false;
    q22 = false;
    q23 = false;
    q24 = false;

    $('#check11').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q11 = true;
        }
        else {
            console.log("not checked . . . ")
            q11 = false;
        }
        showFirst = true
    });
    $('#check12').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q12 = true;
        }
        else {
            console.log("not checked . . . ")
            q12 = false;
        }
        showFirst = true
    });
    $('#check13').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q13 = true;
        }
        else {
            console.log("not checked . . . ")
            q13 = false;
        }
        showFirst = true
    });
    $('#check14').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q14 = true;
        }
        else {
            console.log("not checked . . . ")
            q14 = false;
        }
        showFirst = true
    });


    // second question
    $('#check21').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q21 = true;
        }
        else {
            console.log("not checked . . . ")
            q21 = false;
        }
        showSecond = true
    });
    $('#check22').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q22 = true;
        }
        else {
            console.log("not checked . . . ")
            q22 = false;
        }
        showSecond = true
    });
    $('#check23').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q23 = true;
        }
        else {
            console.log("not checked . . . ")
            q23 = false;
        }
        showSecond = true
    });
    $('#check24').click(function () {
        console.log("clicked . . . ");
        if ($(this).is(':checked')) {
            console.log("checked . . . ");
            q24 = true;
        }
        else {
            console.log("not checked . . . ")
            q24 = false;
        }
        showSecond = true
    });

    firstCorrect = false;
    secondCorrect = false;

    // if all the options are answered correctly, turn the botton active
    $('#q1').on('click change', function(e) {

        if(showFirst) {
            if (q14 && !q13 && !q12 && !q11 ) {
                $("#q1-fail").css("display", "none");
                $("#q1-succc").css("display", "block");
                firstCorrect = true
            }
            else {
                $("#q1-succc").css("display", "none");
                $("#q1-fail").css("display", "block");
                firstCorrect = false
            }
        }

        if (firstCorrect && secondCorrect) {
            $("#instr_submit").prop('disabled', false);
        }
        else {
             $("#instr_submit").prop('disabled', true);
        }
    });

    $('#q2').on('click change', function(e) {
        if(showSecond) {
            if (!q24 && q23 && !q22 && !q21 ) {
                $("#q2-fail").css("display", "none");
                $("#q2-succc").css("display", "block");
                secondCorrect = true;
            }
            else {
                $("#q2-succc").css("display", "none");
                $("#q2-fail").css("display", "block");
                secondCorrect = false;
            }
        }

        if (firstCorrect && secondCorrect) {
            $("#instr_submit").prop('disabled', false);
        }
        else {
            $("#instr_submit").prop('disabled', true);
        }
    });
</script>

</html>