/* login.html */
.login-form {
    width: 500px;
    height: 180px;
    left: 50%;
    top: 50vh;
    margin: -90px 0 0 -250px;
    position: absolute;
}

.login-bkg {
    height: 100vh;
    padding-top: 30%;
}

.login-page-title {
    margin-top: 100px;
    text-align: center;
}
/* persp.html */
.persp-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px !important;
}

.persp-claim-title {
    text-align: center;
}

.persps-container {
    margin: 20px;
}

.persp-arg-desc {
    text-align: left;
}

/* claim_neg_anno.html */
.neg_claim_title {
    text-align:center;
    display: block;
    margin-top: 1em;
}

.neg_instr_container {

}

.neg_option_radio {
    display: block;
}

.neg_option_container {
    display: none;
}

/* claim_relation.html */
.rel_claim_title {
    text-align:center;
    display: block;
    margin-top: 1em;
}

.rel_instr_container {

}

.rel_tile {
    position: relative;
    padding: 14px;
    margin-bottom: 20px;
    text-align: left;
    background-color: #eff0f2;
    border-radius: 6px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 5px solid #1ABC9C;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1ABC9C transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
